/* Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */

img {
    display: block;
    width: 100%;
}

/* Intestazione */

header {
    background-image: url(../img/wall.png);
    padding: 40px;
}

/* titolo */

h1 {
    font-size: 70px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Edu TAS Beginner", cursive;
} 

/* Corpo della pagina */

main {
    background-image: url(../img/cork.png);
}

/* Container */

main .container {
    display: flex;
    width: 65%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 20px;
}

/* Row card */

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

/* Contenitore card (colonna) */

.col {
    background-color: #ffffff;
    padding: 15px; 
    width: calc((100% - 50px) / 3); 
    position: relative;
}

/* Img card */

.card-photo {
    height: 260px;
    padding-bottom: 15px;
}

.card-photo img {
    object-fit: cover;
    height: 100%;
} 

.pin-img {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 50%;
    transform: translate(50%, -25%);
}

/* Info card */

.card-info {
    height: 70px;
    font-family: "Sometype Mono", monospace;
    font-style: italic;
    font-size: 15px;
    width: 100%;
}  